<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Disliked posts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/style/userProfile.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="sub-head">
        <a class="head-links" href="http://localhost:8181/" method="GET">
          <div>Forum</div>
        </a>
      </div>
      <div class="group-sub-head" id="isAuth">
        <div class="group-sub-head">
          <div class="sub-head">
            <a class="head-links" href="/users/profile" method="GET">
              <div>My Profile</div>
            </a>
          </div>
          <div class="sub-head">
            <a class="head-links" href="/posts/" method="GET">
              <div>Create Post</div>
            </a>
          </div>
          <div class="sub-head">
            <form action="/auth/logout" method="POST">
              <button class="logOut" type="submit">
                <div>Log Out</div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <h1>{{.User.Username}}</h1>
        <div class="filter">
          <div class="btns">
            <a href="/users/profile?username={{.User.Username}}" method="GET">
              <button class="firstChild">Profile info</button>
            </a>
            <a href="/users/posts?username={{.User.Username}}" method="GET">
              <button>Posts</button>
            </a>
            <a href="/users/comments?username={{.User.Username}}" method="GET">
              <button>Comments</button>
            </a>
            <a href="/users/likes?username={{.User.Username}}" method="GET">
              <button>Liked post</button>
            </a>
            <a href="/users/dislikes?username={{.User.Username}}" method="GET">
              <button class="lastChild btn-active">Disliked post</button>
            </a>
          </div>
        </div>
      </div>
      <div class="posts">
        {{range .Posts}}
        <div class="post">
          <div class="post-author">
            <div>
              <span class="sub-title">Author:</span>
              <a href="/users/profile" method="GET">
                <span class>{{.Creator}}</span>
              </a>
            </div>
            <div>
              <span class="sub-title">Creation date:</span>
              <span style="font-size: 18px">{{.CreationDateFront}}</span>
            </div>
          </div>
          <div class="post-title">
            <a href="/posts/?post_id={{ .ID}}" method="GET">
              <h1>{{.Title}}</h1>
            </a>
          </div>
          <div class="read-post">
            <div class="post-categories">
              <div>
                <span class="sub-title">Categories:</span>
              </div>
              {{range .Categories}}
              <div class="each-category">
                <a
                  href="http://localhost:8181/posts?category={{.}}"
                  method="GET"
                >
                  <div class="each-category">
                    <span>{{.}}</span>
                  </div>
                </a>
              </div>
              {{end}}
            </div>
            <div>
              <a href="/posts/?post_id={{ .ID}}" method="GET">
                <button class="btn-read">Read</button>
              </a>
            </div>
          </div>
          <div class="post-likes-comments">
            <div class="post-likes sub-title">
              <img class="m-r-7" src="../static/media/like.svg" />
              <span> {{.LikesCount}}</span>
            </div>
            <div class="post-dislikes">
              <img class="dislike m-r-7" src="../static/media/dislike.svg" />
              <span>{{.DislikesCount}}</span>
            </div>
            <div class="post-comments">comments: {{.CommentsCount}}</div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
